<nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: large;">      
    <button routerLink="/noflyzone/add/new" type="button" class="btn btn-primary btn-sm">Add No Fly Zone </button>
  </nav>
  
  <div class="d-flex justify-content-center mt-5">
      <div class="col-10">
          <table *ngIf="noflyzoneLists" class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Latitude</th>
                  <th scope="col">Longitude</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Radius</th>
                </tr>
              </thead>
              <tbody *ngFor="let noflyzoneList of noflyzoneLists">
                <tr>
                  <th scope="row">{{noflyzoneList.id}}</th>
                  <th>{{noflyzoneList.name}}</th>
                  <td>{{noflyzoneList.latitude}}</td>
                  <td>{{noflyzoneList.longitude}}</td>
                  <td>{{noflyzoneList.startTime}}</td>
                  <td>{{noflyzoneList.endTime}}</td>
                  <td>{{noflyzoneList.radius}}</td>
                  <td>
                      <button routerLink="/noflyzone/{{noflyzoneList.id}}" type="button" class="btn btn-primary btn-sm">Edit </button> |
                      <button (click)="deleteNoflyzone(noflyzoneList.id)" type="button" class="btn btn-secondary btn-sm">Delete</button>
                  </td>
                </tr>              
              </tbody>
            </table>           
      </div>
  </div>
  