<header class="d-flex flex-column flex-md-row align-items-center align-items-center justify-content-between p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm fix-top">
    <img src="/assets/images/logo2.jpg" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">
    <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: large;">  
      <a class="p-2" routerLink="/certificate" routerLinkActive="active">Certificate</a>  
      <a class="p-2" routerLink="/operator" routerLinkActive="active">Operator</a>   
      <a class="p-2" routerLink="/waypoint" routerLinkActive="active">Way Point</a> 
      <a class="p-2" routerLink="/noflyzone" routerLinkActive="active">No fly zone</a>          
    </nav>
</header>
